[access]
	inheritFrom = All-Projects
[project]
	description = practice using gerrit
[access "refs/*"]
	owner = group user/swatchshi
[access "refs/for/refs/*"]
	read = group user/swatchshi
	push = group user/swatchshi
	label-Code-Review = -2..+2 group user/swatchshi
	label-Verified = -1..+1 group user/swatchshi
	rebase = group user/swatchshi
	removeReviewer = group user/swatchshi
	submit = group user/swatchshi
[access "refs/heads/*"]
	read = group user/swatchshi
	create = group user/swatchshi
	push = +force group user/swatchshi
	pushMerge = group user/swatchshi
[access "refs/tags/*"]
	push = group user/swatchshi
	push = +force group user/swatchshi
[receive]
	requireSignedOffBy = true
	requireChangeId = true
